################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/publishNuGet2OrgWithAPIKey.bat
nuget-orgApiKey.txt
src/BenrazNugetPackages
